@import "mixins.scss";
@import "vars.scss";

.button-slider__icon {
  fill: none;

  @media (max-width: 360px) {
    width: 10px;
    height: 19px;
  }

  &:hover {
    stroke: $color_blue_cornflower;
    stroke-width: 4px;
  }

  &:focus {
    outline: none;

    stroke: $color_blue_cornflower;
    stroke-width: 4px;
  }
}

.button-slider {
  position: absolute;
  top: 50%;

  width: 30px;
  min-height: 40px;

  background: transparent;
  border: none;
  transform: translateY(-50%);
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &:focus {
    opacity: 1;
  }

  &--prev {
    left: -56px;

    @media (max-width: 1270px) {
      left: -40px;
    }

    @media (max-width: 1230px) {
      left: -25px;
    }

    @media (max-width: $width_viewport_tablet) {
      left: 0;
    }

    @media (max-width: 360px) {
      left: -6px;
    }
  }

  &--next {
    right: -56px;

    @media (max-width: 1270px) {
      right: -40px;
    }

    @media (max-width: 1230px) {
      right: -25px;
    }

    @media (max-width: $width_viewport_tablet) {
      right: 0;
    }

    @media (max-width: 360px) {
      right: -6px;
    }
  }
}
