@import "mixins.scss";
@import "vars.scss";

.gym__inner {
  @include inner;
}

.gym__content {
  & h2 {
    @include heading_h2;

    margin: 0;

    font-size: $font_size_h2_desktop_s;
    line-height: $line_height_h2_desktop_s;
    font-family: $font_family_second_base;
    letter-spacing: 0.03em;

    @media (max-width: $width_viewport_tablet) {
      font-size: $font_size_h2_tablet_s;
    }

    @media (max-width: $width_viewport_mobile) {
      font-size: $font_size_h2_mobile_s;
    }
  }

  & p {
    @include indent_p;

    margin: 0;

    font-size: $font_size_p_desktop_xxxs;
    line-height: $line_height_p_desktop_xxl;

    @media (max-width: $width_viewport_tablet) {
      font-size: $font_size_p_tablet_xxxxs;
      line-height: $line_height_p_tablet_xxl;
    }
  }

  & p + p {
    font-weight: $font_weight_light;
    font-size: $font_size_p_desktop_xxs;
  }
}

.gym__play {
  width: 100px;
  height: 100px;

  background-color: transparent;
  background-image: url("../img/button-play@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
}
