@import "mixins.scss";
@import "vars.scss";

.header__inner {
  @include inner;
}

.header__logo-link {
  font-weight: $font_weight_bold;
  font-size: $font_size_p_desktop_xxxxxs;
  line-height: $line_height_p_desktop_s;
  font-family: $font_family_second_base;
  color: $color_white;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.header__navigation-link {
  font-weight: $font_weight_bold;
  font-size: $font_size_p_desktop_xxxxxs;
  line-height: $line_height_p_desktop_s;
  font-family: $font_family_second_base;
  color: $color_white;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
