@import "mixins.scss";
@import "vars.scss";

.subscription__inner {
  @include inner;
}

.subscription__row {
  & h2 {
    @include heading_h2;

    margin: 0;

    font-size: $font_size_h2_desktop_s;
    line-height: $line_height_h2_desktop_s;
    font-family: $font_family_second_base;
    letter-spacing: 0.03em;
  }
}

.subscription__list {
  @include list;
}

.subscription__button {
  font-size: $font_size_p_desktop_xxxxs;
  line-height: $line_height_p_desktop_xxl;
  font-family: $font_family_base;
  color: $color_blue_bali_hai;

  background: transparent;
  border: none;

  &:hover {
    color: $color_blue_midnight;

    border-bottom: 2px solid $color_red_razzmatazz;
  }

  &:focus {
    color: $color_blue_midnight;

    outline: none;
  }
}

.subscription__card {
  & h3 {
    @include heading_h3;

    margin: 0;

    font-weight: $font_weight_bold;
    font-size: $font_size_h3_desktop_l;
    line-height: $line_height_h3_desktop_s;
  }

  & p {
    @include indent_p;

    margin: 0;

    font-size: $font_size_p_desktop_xxs;
    line-height: $line_height_h3_desktop_xxs;
    color: $color_blue_chambray;
  }

  & p + p {
    font-weight: $font_weight_bold;
    font-size: $font_size_p_desktop_xxl;
    line-height: $line_height_p_desktop_xxl;
    color: $color_blue_egyptian;
  }
}
